backcall==0.2.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==4.4.2
delayed==0.11.0b1
download==0.3.5
Flask==1.1.2
Flask-Compress==1.10.1
gunicorn==20.1.0
html5lib
imbalanced-learn==0.8.0
Jinja2==2.11.2
joblib==1.0.1
json5==0.9.5
lightgbm==3.2.1
Markdown==3.3.4
matplotlib
nltk==3.2.4
numpy==1.19.5
oauthlib==3.1.1
opencv-contrib-python==4.5.3.56
pandas
path
pathlib2==2.3.5
pathtools==0.1.2
plotly==5.3.1
ply==3.11
preprocessing==0.1.13
py
requests
requests-oauthlib==1.3.0
retrying==1.3.3
scikit-learn==0.24.2
scipy
sklearn==0.0
ujson
urllib3
xgboost==1.4.2
